# =================
# Python / Django
# =================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.coverage
.coveragerc
.pytest_cache/
.coverage.*
coverage.xml
frontend/coverage/

# env
.env

# =================
# Node / React
# =================
node_modules/
frontend/build/

# =================
# Docker
# =================
.dockerignore
